.city,.error,.loading {
    font-family: "Montserrat";
}

.city__name {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}

.city__forecast {
    padding-top: 50px;
    width: 1300px;
    height: 80vh;
    align-items: stretch;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.error {
    font-size: 40px;
    padding-top: 200px;
    margin: 0 auto;
    width: 1000px;
}